// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my_header{
  height: 85px; 
  width: 100%; 
  background-color: #fff;
  background-image: url(/web_images/bg_header.png);  
}

.my-nav-mobile-custom {
  margin: 0px -29.6px !important;
}

.my-nav-mobile-custom>li.dropdown>a.dropdown-toggle {
  padding: 10px 15px;
}
.navbar.navbar-default.navbar-small  {
  min-height: 40px;
}

.navbar-default .navbar-toggle.navbar-toggle-xs:hover, .navbar-default .navbar-toggle.navbar-toggle-xs:focus {
  background-color: transparent;
}

ul.dropdown-menu.my-dropdown-menu > li > a {
  padding: 5px 14px;
}



#myCarousel .carousel-caption {
  left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#myCarousel .list-group {
	position:absolute;
	top:0;
	right: -8px;
}
#myCarousel .list-group-item {
	border-radius:0px;
	cursor:pointer;
}
#myCarousel .list-group .active {
	background-color:#eee;	
}

@media (min-width: 992px) { 
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
	.carousel-caption p,
	#myCarousel .list-group {display:none;} 
}
